.btn-conferir {
  width: 280px;
  height: 54px;
  background: #c7183c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  transition: 0.2s;
}

.btn-conferir:hover {
  background-color: #a51432;
}
