* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
}

.card-jj {
  .card-jj-image {
    position: relative;
    overflow: hidden;

    .badges {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .promo-badge {
        font-size: 10px;
        background-color: #cf215b;
        max-height: fit-content;
        padding: 5px;
        color: #ffffff;
      }
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .image-info {
      position: absolute;
      bottom: -100%;
      left: 0;
      transition: all ease 0.3s;
      width: 100%;

      .add-to-cart {
        background-color: #cf215b;
        width: 100%;
        color: #fff;
        padding: 7px 0;
        cursor: pointer;
      }

      .top-content {
        width: 100%;
        backdrop-filter: blur(5px);
        text-align: center;
        border-top: 1px solid #00000020;
        span {
          font-size: 12px;
        }

        .options {
          margin: 10px 0;
          display: flex;
          justify-content: center;
          gap: 10px;
          .option {
            background-color: #fff;
            font-size: 14px;
            font-weight: 500;
            padding: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .card-jj-content {
    margin-top: 20px;

    h3 {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .price {
      display: flex;
      align-items: center;
      gap: 10px;
      .current-price {
        font-size: 16px;
      }

      .old-price {
        font-size: 14px;
        text-decoration: line-through;
      }
    }

    .parcelamento {
      margin-top: 5px;
      display: block;
      font-size: 12px;
    }
  }

  &:hover {
    .card-jj-image {
      .image-info {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
